@model VeterinaryClinic.Models.DBModels.Patient

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń pacjenta</h2>

<h3>Czy na pewno chcesz usunać wybranego pacjenta?</h3>
<h3>Spowoduje to usunięcie wizyt odbytych przez pacjenta.</h3>
<div>
    <h4>Pacjent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy pacjentów", "Index")
        </div>
    }
</div>
